<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>share</title>
<!--        <style type="text/css">-->
<!--            .div1{-->
<!--                position: absolute;-->
<!--                height: 999px;-->
<!--                width: 580px;-->
<!--                margin-left: 200px;-->
<!--                margin-top: 200px;-->
<!--                border: solid;-->
<!--                border-radius: 20px;-->
<!--                color: darkgray;-->
<!--                box-shadow: 10px 10px 5px #888888;-->
<!--            }-->
<!--            .div2{-->
<!--                position: absolute;-->
<!--                height: 248px;-->
<!--                width: 538px;-->
<!--                margin-left: 220px;-->
<!--                margin-top: 220px;-->
<!--                border: solid;-->
<!--                border-radius: 54px;-->
<!--            }-->
<!--            .div3{-->
<!--                position: absolute;-->
<!--                height: 100px;-->
<!--                width: 100px;-->
<!--                margin-left: 230px;-->
<!--                margin-top: 500px;-->
<!--                border: solid;-->
<!--            }-->
<!--            .div3 img{-->
<!--                width: 100%;-->
<!--                height: 100%;-->
<!--            }-->
<!--            .div4{-->
<!--                position: absolute;-->
<!--                height: 100px;-->
<!--                width: 100px;-->
<!--                margin-left: 380px;-->
<!--                margin-top: 500px;-->
<!--                border: solid;-->
<!--            }-->
<!--            .div5{-->
<!--                position: absolute;-->
<!--                height: 100px;-->
<!--                width: 100px;-->
<!--                margin-left: 515px;-->
<!--                margin-top: 500px;-->
<!--                border: solid;-->
<!--            }-->
<!--            .div6{-->
<!--                position: absolute;-->
<!--                height: 100px;-->
<!--                width: 100px;-->
<!--                margin-left: 660px;-->
<!--                margin-top: 500px;-->
<!--                border: solid;-->
<!--            }-->
<!--            .div7{-->
<!--                position: absolute;-->
<!--                height: 100px;-->
<!--                width: 400px;-->
<!--                margin-left: 300px;-->
<!--                margin-top: 1000px;-->
<!--                border: solid;-->
<!--                border-radius: 30px;-->
<!--            }-->
<!--            .div8{-->
<!--                position: absolute;-->
<!--                height: 50px;-->
<!--                width: 107px;-->
<!--                margin-left: 445px;-->
<!--                margin-top: 1029px;-->
<!--            }-->

<!--        </style>-->
    </head>
    <body>
        <div class=“box”>
            <div class="div1"></div>
            <div class="div2" style="background-color: lightgray"></div>
            <div class="div3">
<!--                <img src="pig.png" alt="">-->
            </div>
            <div class="div4"></div>
            <div class="div5"></div>
            <div class="div6"></div>
            <div class="div7" style="background-color: yellow"></div>

        </div>
        <button class="div8" type="button" onclick="Save()">SHARE</button>
    </body>
</html>
