<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>share</title>
        <script>
            function cc()
            {
                alert('hello')
            }
        </script>
    </head>
    <body>
        <div class=“box”>
            <div class="div1"></div>
            <div class="div2" style="background-color: lightgray"></div>
            <div class="div3">
                <img src="pig.png" alt="">
            </div>
            <div class="div4"></div>
            <div class="div5"></div>
            <div class="div6"></div>
            <div class="div7" style="background-color: yellow"></div>
        </div>
        <button class="div8" type="button">SHARE</button>
        <button class="div9" id="!" type="button" onclick="cc()"></button>
    </body>
</html>
